include _cardEntries
extends base
include _queryControls

block append head
    script(src="/r/js/list.js")
    script(src="/r/js/deleteCardButton.js")
    +_queryControlsScripts


block body
    .page-header
        h1 Card Listing
            .btn-group.btn-group-md.btn-group-header.pull-xs-right(data-toggle="buttons")
                label.btn.btn-primary-outline#search-button
                    input(type="checkbox")
                    i.fa.fa-search
                label.btn.btn-primary-outline#sort-button
                    input(type="checkbox")
                    i.fa.fa-sort-alpha-asc

        form(method="GET")
            .hide.pad-vertical.search-form: +_findForm(filterCard)
            .hide.pad-vertical.sort-form: +_sortForm(filter)

            div.btn-container.hide
                button.btn.btn-action.pad-vertical.go-button(type="submit")
    table.table.table-striped
        thead: tr
            th Name
            th Qty.
            th Type
            th Series
            th Expansion
            th Actions
        each c in cards
                tr
                    td: a(href="/view/" + c._id)=c.name
                    td=c.quantity
                    td=c.cardType
                    td=c.series
                    td=c.expansion
                    td: div
                        a.fa.fa-fw.fa-trash.delete-card.action-icon.icon-margin-r(href="", data-card-id=c._id)
                        a.fa.fa-fw.fa-edit.action-icon.icon-margin-r(href="/view/" + c._id)
