include _cardEntries
extends base
include _queryControls

block append head
    script(src="/r/js/list.js")
    script(src="/r/js/deleteCardButton.js")
    +_queryControlsScripts


block body
    .page-header
        h1 Card Listing
            a(href="/find").btn.btn-primary-outline.pull-xs-right
                    i.fa.fa-search.icon-margin-r
                    span.icon-margin-r |
                    i.fa.fa-sort-alpha-asc
    table.table.table-striped
        thead: tr
            th Name
            th Qty.
            th Type
            th Series
            th Expansion
            th Actions
        each c in cards
                tr
                    td: a(href="/view/" + c._id)=c.name
                    td=c.quantity
                    td=c.cardType
                    td=c.series
                    td=c.expansion
                    td: div
                        a.fa.fa-fw.fa-trash.delete-card.action-icon.icon-margin-r(href="", data-card-id=c._id)
                        a.fa.fa-fw.fa-edit.action-icon.icon-margin-r(href="/view/" + c._id)
